nav(class='navbar bg-dark mb-4')
    div(class='container-fluid')
        a(class='navbar-brand text-light', href='/')
            img(src='images/animal-shelter.png', width="50", height="50")
            | Save Cat




