extends ./components/layout

block content
	.container.text-left.w-25.mt-5.p-4.bg-dark.rounded.bg-opacity-75
		h1(class="mb-4") Login Form
		form(action="/login", method="post")
			.form-floating.mb-4.text-dark
				input(type="email", class="form-control", name="email", placeholder="email", required)
				label(for="", class="") Email
			.form-floating.mb-4.text-dark
				input(type="password", class="form-control", name="password", placeholder="password", required)
				label(for="", class="") Password
			.text-left.mb-4
				a(href="/register", class="text-decoration-none") Dont have an account?
			input(type="submit", class="btn btn-info form-control", name="submit", value="Login")