body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
}

a {
  color: #00B7FF;
}

.content{
    flex: 1;
    background: rgb(2, 0, 36);
    background: linear-gradient(50deg, rgba(2, 0, 36, 1) 0%, rgba(26, 35, 92, 0.9) 46%, rgba(0, 212, 255, 1) 100%);
}

.footer{
  min-height: 50px;
  padding: 18px;
  background-color: rgba(0, 0, 0, 0.5);
}

.cat-img{
  opacity: 0.5;
  transition: 1s ease;
}

.cat-img:hover{
  opacity: 1;
  transform: scale(1.2, 1.2);
}